body {
  background-color: pink;
}
.header {
  text-align: center;
  width:max-content 400px;
 position: absolute 10px auto auto auto auto;
 



}
#randomthing {
  width: 200px;
  height: 200px;
  background-color: grey;
  margin-top: 20px;
  margin-left: 15px; 
}
.menu {
  position: fixed;
  right: 0;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  background-color: lightblue;
  width: 250px;
  margin-top: 20px;
}
.menu > div {
  background-color: lightgrey;
  margin: 10px 10px 10px 0px;
  padding: 10px 10px 0px 5px;
  border-bottom-style: solid;
  border-width: 2px;
}
body .music {
  background-color: blue;
}
body .videos {
  background-color: brown;
}

#stopwatch {

 
  margin-bottom: 200px;
  margin-top: 5000px;

}

div #footer {
  background-color: bisque;
  padding: 10px;
  margin-bottom: 10px;
}

#title {
  position:absolute;
 
  margin: 0px 200px 500px 300px;
  
}

#flower {

  margin: 0px auto auto auto;
}

div #star {
  width: 100px;
  height: 100px;
  margin-top: 0px;
  float: right;
}